<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<!--        <meta http-equiv="refresh" content="10;">-->
        <title>Dash Board</title>
        <link href="./part/style/dash_style.css" type="text/css" rel="stylesheet"/>
        <link rel="shortcut icon" href="./part/style/favicon.ico">
    </head>
	<body>
		<div class="frame">
            <div class="title">
				<h1>Roberto Clemente</h1>
<!--				<img id="dobby" src="./part/style/dobby_title.png"/>-->
			</div>
            <!-- title class end -->
            
            <div class="INFO_container">
                <div class="main_Order">
                    <h2>Order</h2>
                    <p class="info">Total Order : <span class="total"><%= totalOrders %></span></p>
                    <br/>
                    <p class="info">Backlog : <span class="backlog"><%= pendingOrders %></span></p>
                    <br/>
                    <p class="info">Throughput : <span class="throughput"><%= deliveredOrders %></span></p>
			     </div>
                <!-- Order class end -->
                <div class="main_Robot">
                    <h2>Item</h2>
                    <p class="info">Remaining items on Inventory</p>
                    <p class="info">
                        R : <span class="redItem"><%= itemsOnStop[0] %></span> &nbsp;
                        G : <span class="greenItem"><%= itemsOnStop[1] %></span> &nbsp;
                        B : <span class="blueItem"><%= itemsOnStop[2] %></span></p>
                    <br/>
                    <p class="info">Remaining items on Robot</p>
                    <p class="info">R : <span class="redItem"><%= itemsOnRobot[0] %></span> &nbsp;
                        G : <span class="greenItem"><%= itemsOnRobot[1] %></span> &nbsp;
                        B : <span class="blueItem"><%= itemsOnRobot[2]%></span></p>
                </div>
                <!-- Robot class end -->
                <div class="main_Others">
                    <h2>Others</h2>
                    <div class="main_battery">
                        <h2></h2>
                        <p class="battery" id ="first">First battery</p>
                        <button type="submit" class="btn_time" onclick="time(<%= exerciseNum %>)">START</button>
                        <button type="submit" class="btn_time">END</button>
                        <br/>
                        <p class="battery">Second battery &nbsp;
                            <button type="submit" class="btn_time">START</button>
                            <button type="submit" class="btn_time">END</button>
                        </p>
                        <br/>
                        <p class="battery">Third battery &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn_time">START</button>
                            <button type="submit" class="btn_time">END</button>
                        </p>
                    </div>
                    
                </div>
                <!-- Others class end -->
            </div>
            <!-- INFO_container end -->
            
            <div class="GRAPH_container">
                <div class="order_graph">
                    <h2>Order Graph</h2>
                    <div id="chart-wrapper">
                        <div id="values"></div>
                        <canvas id="orderChart"></canvas>
                        <div id="weeks"></div>
                    </div>
                </div>
                <!-- order_graph class end -->
                <div class="time_graph">
                    <h2>Time Graph</h2>
                    
                </div>
                <!-- time_graph class end -->
            </div>
            <!-- GRAPH_container end -->
            
			<div class="footer">
                <p class="copyright">&copy;Roberto Clemente</p>
            </div>	
            <!-- footer class end -->
        </div>
        <script type="text/javascript" src="dash_script.js">
        </script>
	</body>
</html>
