<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dash Board</title>
        <link href="./part/style/dash_style.css" type="text/css" rel="stylesheet"/>
        <link rel="shortcut icon" href="./part/style/favicon.ico">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
	<body>
		<div class="frame">
            <div class="title"> 
				<h1>Roberto Clemente</h1>
			</div>
            <!-- title class end -->
            <div class="TIME_container">
                <h3 class="time" id="time">Running time : 0 mins</h3>
            </div>
            <div class="INFO_container">
                <div class="main_Order">
                    <h2>Order</h2>
                    <p class="info">Total Order : <span class="total" id="totalorder" ><%= totalOrders %></span></p>
                    <p class="info">Throughput : <span class="throughput"><%= deliveredOrders %></span></p>
                    <p class="info">Backlog : <span class="backlog"><%= pendingOrders %></span></p>
                    <p class="info" id="highBacklog"></p>
<!--                    <div id="total_order"></div>    -->
			     </div>
                <!-- Order class end -->
                <div class="main_Robot">
                    <h2>Item</h2>
                    <p class="info">Remaining items on Inventory</p>
                    <p class="info">
                        R : <span class="redItem"><%= itemsOnStop[0] %></span> &nbsp;
                        G : <span class="greenItem"><%= itemsOnStop[1] %></span> &nbsp;
                        B : <span class="blueItem"><%= itemsOnStop[2] %></span></p>
                    <p class="info">Remaining items on Robot</p>
                    <p class="info">
                        R : <span class="redItem"><%= itemsOnRobot[0] %></span> &nbsp;
                        G : <span class="greenItem"><%= itemsOnRobot[1] %></span> &nbsp;
                        B : <span class="blueItem"><%= itemsOnRobot[2]%></span></p>
                </div>
                <!-- Robot class end -->
                <div class="main_Others">
                    <h2>Others</h2>
                    <div class="main_battery">
                        <p class="battery">
                            Robot Connection : <%= robotConnected %>
                        </p>
                        <!-- <div class="battery" id="current_time"></div> -->
                        <form action="/firstB" method="POST">
                            <p class="battery" id = "first">
                                First Battery 
                                <!-- <input type='text' name = 'firstB'> -->
                                <button type="submit" class="btn_time" id="firstS">START</button>
                            </p>
                        </form>
                        <p class="battery" id="second">
                            Second Battery
                            <button type="submit" class="btn_time" id="secondS">START</button>
                        </p>
                    </div>
                    <!-- main battery class end -->
                </div>
                <!-- Others class end -->
            </div>
            <!-- INFO_container end -->
            <div class="GRAPH_container">
                <div class="order_graph">
                    <h2>Order Graph</h2>
                    <div id="pendingList" style="display:none"><%=pendingOrderList%></div>
                    <div id="orderChart-wrapper">
                        <div id="pendingValues"></div>
                        <canvas id="orderChart"></canvas>
                        <div id="mins"></div>
                    </div>
                    <img src="./part/style/order_legend.png" id="order_legend">
                </div>
                <!-- order_graph class end -->
                <div class="time_graph">
                    <h2>Time Graph</h2>
                    <div id="timeChart-wrapper">
                        <div id="times"></div>
                        <canvas id="timeChart"></canvas>
                        <div id="minutes"></div>
                    </div>
                    <img src="./part/style/time_legend.png" id="time_legend">
                </div>
                <!-- time_graph class end -->
            </div>
            <!-- GRAPH_container end -->
			<div class="footer">
                <p class="copyright">&copy;Roberto Clemente</p>
            </div>	
            <!-- footer class end -->
        </div>
        <script type="text/javascript" src="dash_script.js">
        </script>
        
	</body>
</html>
