<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Site</title>
		<link href="../custWeb/custWeb_style.css" type="text/css" rel="stylesheet"/>
        <link rel="shortcut icon" href="../part/style/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	</head>
	<body>
        <div id="mySidenav" class="sidenav">
            <a href ="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <br/>
            <br/>
            <a href="<%= itemLink%>">Items</a>
            <a href="<%= loginLink%>">Login</a>
            <a href="<%= custLink%>">My Order</a>
        </div>
        <div class="frame">
            <div class="title">
                <span class="menubar" id="menubar" style="font-size:30px; cursor:pointer; color: white" onclick="openNav()">&#9776;</span>
                <h1 class="page_name"><a href="<%= basicLink%>">Roberto Clemente</a></h1>
                <button class="btn_search" id="search"><i class="fa fa-search"></i></button><input id = "search" class="search" placeholder="Search...">
            </div>
            <!-- title class end -->
            <div class="container">
                <h2>Customer Information</h2>
                    <div class="info_content">
                        <img src="../part/style/person.png" alt='Customer Img' class='fixed' width='8%'>
                        <div class="t_info">
                            <br/>
                            <p id="t_name">Name </p>
                            <p id="t_ID">Order ID </p>
                            <p id="t_orderDate">Order Date </p>
                            <p id="t_orderItems">Ordered Item </p>
                            <p id="t_custAddress">Customer Address </p>
                            <p id="getorderProcess" style="display: none;"><%=rows[0].pending%></p>
                            <p id="t_orderProcess">Order Process </p>
                        </div>
                        <div class="info">
                            <br/>
                            <p id="name"><%=rows[0].customer%></p>
                            <p id="ID"><%=rows[0].id%></p>
                            <p id="getorderDate" style="display:none;"><%=rows[0].orderdate%></p>
                            <p id="orderDate"></p>
                            <p id="orderItems">R : <span id="orderItem_red" style="color:red"><%=rows[0].red%></span> G : <span id="orderItem_green" style="color:green"><%=rows[0].green%></span>  B : <span id="orderItem_blue" style="color:blue"><%=rows[0].blue%></span></p>
                            <p id="custAddress"><%=rows[0].address%></span></p>
                            <p id="orderProcess"></p>
                            <input type="button" name="btn1" value="Cancel Item" class="button" onclick="cancelFunc()">
                            
                        </div>

                        <!-- info class end -->
                    </div>
                <!-- content class end -->
            </div>
            <!-- container class end -->
            <div class="footer">
                <p class="copyright">&copy;Roberto Clemente</p>
            </div>
            <!-- footer class end -->
        </div>
        <!-- frame class end -->
        <script type="text/javascript" src="../custWeb/custWeb_script.js">
        </script>
        <script>
            function openNav(){
                document.getElementById('mySidenav').style.width="250px";
            }
            function closeNav(){
                document.getElementById('mySidenav').style.width="0";
            }
            var pendingStatus = document.getElementById('getorderProcess').innerHTML;
            // console.log(pendingStatus);
            if (pendingStatus == 1){
                $('#orderProcess').text('Accept Order!');
            }else{
                $('#orderProcess').text('Order Delivered!')
            }
            var getDate = document.getElementById('getorderDate').innerHTML;
            console.log(getDate);
            getDate = getDate.split(" ");
            console.log(getDate);
            var orderDate = '';
            orderDate = orderDate.concat(getDate[1], ', ', getDate[2], ', ', getDate[3]);
            $('#orderDate').text(orderDate);
            function cancelFunc(){
                alert("Your Order is Canceled!!")
            }
        </script>
	</body>
</html>